Data Science workflow:
1.  clean/preprocess the data
2.  explore the data
3.  machine learning pipeline and training

In [102]:
import pandas as pd

In [103]:
tyo = pd.read_csv('listings.csv')

In [122]:
tyo.head()

,accuracy,amenities,bed_type,cancel_policy,person_capacity,price,rating_checkin,rating_cleanliness,rating_communication,response_rate,response_time,rev_count,satisfaction_guest,Entire_home/apt,book_instantly
1,9,"[1, 33, 35, 4, 36, 5, 8, 40, 41, 42, 44, 45, 4...",Real Bed,4.0,16.0,137.0,9.0,8.0,10.0,1.0,1.0,25.0,87.0,1,1
3,9,"[1, 33, 2, 34, 3, 35, 4, 36, 5, 39, 8, 40, 41,...",Real Bed,5.0,5.0,114.0,10.0,9.0,10.0,1.0,1.0,19.0,96.0,1,1
5,9,"[1, 33, 35, 4, 36, 5, 39, 8, 40, 41, 42, 43, 4...",Real Bed,5.0,8.0,100.0,10.0,10.0,10.0,1.0,98.0,23.0,97.0,1,1
7,10,"[1, 33, 3, 35, 4, 36, 5, 37, 38, 8, 40, 41, 43...",Real Bed,4.0,6.0,91.0,10.0,10.0,10.0,1.0,1.0,123.0,98.0,1,1
9,10,"[33, 35, 4, 36, 5, 39, 8, 40, 41, 42, 44, 45, ...",Real Bed,4.0,2.0,46.0,10.0,10.0,10.0,1.0,28.5,5.0,100.0,1,1

In [105]:
tyo.dropna(axis = 0, how = 'all', inplace = True)

In [111]:
tyo.url = tyo.url.apply(lambda x :str(x).split('?')[0])

In [114]:
tyo.drop_duplicates(subset = ['url'], inplace = True)

In [115]:
tyo.shape

(404, 16)

In [116]:
tyo['Entire_home/apt'] = tyo.room_type.map({'Entire home/apt':1, 'Private room': 0, 'Shared room': 0})

In [118]:
tyo['book_instantly'] = tyo.instant_book.map({True:1, False: 0 })

In [119]:
tyo.drop(['instant_book', 'room_type'], axis=1, inplace = True)
tyo.drop('url', axis=1, inplace = True)

In [69]:
import numpy as np
import pandas as pd

tyo=pd.read_csv('listings.csv')
tyo.dropna(axis=0, how='all', inplace=True)

# Then we import our listings file. We do not want to see blank rows, so we shall delete them with the .dropna method
# We want to see if there are any duplicates in the dataframe. We can achieve this by comparing listing ID's.
# By using the lambda method below, we can extract the id in the URL, then by applying the .drop_duplciates() method,
# we can find delete those with duplicate url's. 

tyo.url = tyo.url.apply(lambda x:str(x).split('?')[0])
tyo = tyo.drop_duplicates(subset=['url'])

# We want to reconstruct the Entire_home/apt feature and the book_instantly with dummy variables. 
# This is achievable by using the .map function.

tyo['Entire_home/apt'] = tyo.room_type.map({'Entire home/apt':1, 'Private room': 0, 'Shared room': 0})
tyo['book_instantly'] = tyo.instant_book.map({True:1, False: 0 })
tyo.drop('instant_book', axis=1, inplace = True)

# We don't need the url feature. 
tyo.drop('url', axis=1, inplace=True)

# We can also take care of dummies using for loops!

booleans=[]
for i in tyo.bed_type:
    if i == 'Real Bed':
        booleans.append(1)
    else:
        booleans.append(0)
tyo['bed_type'] = booleans


# Dropping the cancel policy sice it is uninteresting. 

tyo.drop('cancel_policy',axis=1, inplace=True) 

tyo.drop(0, axis=0, inplace=True)
tyo.drop('room_type', axis=1, inplace = True)
X = tyo.drop(['price','amenities','response_time'], axis=1)
y = tyo.price
# Set X and Y variables here.